body{
  /*background: url("https://thumbs.dreamstime.com/b/cash-background-14072719.jpg");*/
text-align: center;
  color: green;
  font-weight: bolder;
}
#ai {
  padding: 30px;
  margin: auto;
  color: red;
}
